@iairgroup:registry=https://gitlab.com/api/v4/packages/npm/
@britishairways-ent:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org/
legacy-peer-deps=true

//npm.pkg.github.com:_authToken=<github PAT token>